.gallery {
    position: relative; /* Ensure positioning context */
 
}

.gallery-slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(255, 255, 255);
    background-color: var(--dark-gray);
    height: auto;
    justify-content: center;

    background-image: linear-gradient(
        to right top,
        #111111,
        #14131b,
        #141424,
        #13162e,
        #0f1838,
        #12214a,
        #132b5d,
        #113670,
        #1d4c92,
        #2863b5,
        #317bd9,
        #3894ff
      );
}

.gallery-cover {
    width: 100vw;
    aspect-ratio: 21/9;
    display: flex;
    justify-content: start;
    align-items: start;
    overflow: hidden;
    object-fit: cover;
}

.gallery-cover video, .gallery-cover img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-video video::-webkit-media-controls {
    display: none;
}

.gallery-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    pointer-events: none;
    z-index: 1; 
}
.gallery-text {
    height: auto;
    min-height: 20vh;
    width: 100%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding:  2rem  1rem 1rem 1rem;
    h2{
        font-weight: 700;
        font-size: 2rem;
      
    }
    p{
        font-weight: 400;
        width: 80%;
    }
}
