.gallery{
    
}
.gallery-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
    color: white;
    height: auto;
    align-items: center;
    justify-content: start;
    padding-bottom: 12vh;
    video{
        height: 60vh;
        width: 100%;
        object-fit: cover;
    }
}
/* .gallery-text{
    text-align: center;
    background-color: var(--gray);
    width: 100%;
} */
