.course-hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
  background: white;
  height: auto;
  

  h1 {
    line-height: 1;
   
  }

  p {
    line-height: 1.4;

   
  }
  hr {
    border: 1px solid #ccc;
    margin: 0.2rem;
    width: 80%;
  }
}

.course-hero-img {
  height: 76vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;;
    object-fit: cover;
  }
}
.course-hero-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: rgb(0, 0, 0, 0.4);

  height: 80vh;
}

.course-overlay {
  position: absolute;
  padding: 1rem;
  width: auto;
  height: 60%;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 2rem;
}
.course-header {
  position: absolute;
  width: auto;
  padding: 2rem 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: end;
  top: 0;
  background-color: rgba(80, 80, 80, 0.4);
  backdrop-filter: blur(20px);
  width: 100%;
  z-index: 8;
  p{
    font-size: 0.5rem;
    margin: 0.1rem;
  }
}
.course-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
 
}
.course-hero-buttom,
.course-hero-buttom-mobile {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  z-index: 8;
  background: white;
  padding: 1rem 0;
}
.course-hero-buttom-mobile {
  display: none;
}
.course-price {
  display: flex;
  justify-content: space-between;
  width: 80%;

  color: var(--gray);
  text-align: left;
  align-items: center;

}

.course-links {
  display: flex;

  align-items: center;
  justify-content: space-between;

  color: var(--gray);
  width: 80%;
  p {
    
    width: 60%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    height: 1.5rem;
    width: 3rem;

    background-color: var(--blue);
    color: white;
    transition: all 0.2s ease-in-out;
    padding: 0;
  }
  a:hover {
    background-color: var(--dark-blue);
  }
}

@media screen and (max-width: 600px) {
  .course-hero{
    min-height: 100vh;
    hr{
      width: 100%;
    }
  }
  
  .course-hero-img {
    height: 66vh  ;
  }
  .course-price {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 0 1rem;
  }
  .course-links {
    display: flex;
    width: 100%;
    padding: 0 1rem;
  }
  .course-hero-buttom {
    display: none;
  }
  .course-hero-buttom-mobile {
    display: flex;
    justify-content: start;
    
  }
}
