.course-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}
.course-item {
    padding: 2rem 0;
    color: var(--dark-gray);
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    video{
        margin-top: 4rem;
        max-width: 800px;
        width: 100%;
    }
    p{
        color: var(--gray);
    }
    ul{
        text-align: left;
    }
}
