.course-get {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;

    gap: 1rem;

  }
  .course-get-container{
    display: block;
    background-color: var(--navy);
    color: white;
  }


  @media screen and (max-width: 1000px) {
    .course-get-container{

      flex-direction: column;
    }
    .course-section{
      width: 100%;
    }
    .course-get img {
     width: 100%;
     height: auto;
      
    }
  }