.course-get{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    h1{
        color: var(--navy);
    }
    p {
        color: var(--gray);
    }
    
}
