.course-hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  background: white;
  h1 {
    line-height: 1;
    font-weight: 600;
  }

  p {
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 300;
  }
  hr {
    border: 1px solid #ccc;
    width: 80%;
  }
}

.course-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 60%
  );
  pointer-events: none;
 height: 72vh;
}
.course-hero img {
  object-fit: cover;
  width: 100vw;
  height: 72vh;
}

.course-overlay {
  position: absolute;
  width: auto;
  height: 60%;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 2rem;
  padding: 1rem 0rem;
  
}
.course-header{
  position: absolute;
  width: auto;
  padding: 2rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: end;
  top: 0;
  background-color: rgba(80, 80, 80, 0.4);
  backdrop-filter: blur(20px);
  width: 100%;
  z-index: 8;
  p{
    padding: 0.2rem;
    font-size: 0.5rem;
  }
}
.course-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  animation: fadeIn 0.8s ease;
}
.course-hero-buttom{
  width: 100%;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  color: var(--gray);
  p{
    font-size: 0.8rem;
  }
}

.course-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  color: var(--gray);
  width: 80%;
  p{
    font-size: 0.6rem;
    width: 40%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    height: 1.5rem;
    width: 3rem;
    margin: 1rem;
    background-color: var(--blue);
    color: white;
    transition: all 0.2s ease-in-out;
    padding: 0;
  }
  a:hover {
    background-color: var(--dark-blue);
  }
}
@media screen and (max-width: 1000px) {
}
