.course-content{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    background: white;
    overflow: hidden;
    padding-top: 2rem;

    color: var(--dark-gray);
    position: relative;
   

}
.content-text{
    display: block;
    width:80%;
    

}
.course-img{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    img{
        width: 100%;
        height: auto ;
        border-radius: 1rem;
        object-fit: cover;

    }
}
.course-item {
    

    width: 60%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h5{
        color: var(--gray);
    }
    p{
        color: var(--gray);
    }
    ul{
        text-align: left;
        list-style: none;
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        
    }
    li{
        margin: 1rem 0;
        width: 80%

    }

}
@media screen and (max-width: 1000px) {
    .course-img{
        width: 80%;
    }
    .content-text{

        width:100%;
        padding: 0 1rem;
    }
    .course-item {
        width: 80%;
        ul{
            width: 100%;
        }
    }
    
  }