.course-video {
  display: block;
  background-color: var(--navy);
  color: white;
    
  }

  .course-section{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    li{
      
      list-style: none;
      line-height: 3;
    }

  }
  .course-section video,
  .course-section img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

  }
  .course-section-text{
    padding: 1rem 1rem;
    width: 80%;
    

    text-align: center;
    

  }

  

  @media screen and (max-width: 1000px) {
    .course-video-container{

      flex-direction: column;
    }
    .course-section{
      width: 100%;
    }
  }