.course-get {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  color: var(--gray);
  background: white;
  padding: 2rem 0;

  img {
    width: 80%;
    border-radius: 1rem;
    margin: 1rem 0;
    object-fit: cover;
    height: auto;
    min-height: 400px;
    max-height: 800px;
  }

}
#coursegettext {
  width: 80%;
  color: black;
}
.course-get-text {
 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

  ul{
    text-align: left;
    list-style: none;
    width: 100%;
    display: block;
}
li{
    margin: 1rem 0;
    width: 100%

}
  
}

@media screen and (max-width: 1000px) {
  .course-get-text {
  
    width: 100%;
    ul {
      width: 80%;

    }
  }
    #coursegettext {
      width: 100%;
      padding: 1rem;
    }
  
}
