.description {
    display: flex;
    width: 100%;
    background-color: var(--off-white);
    color: var(--navy);
    padding: 4rem 4rem;
    z-index: 2;
    justify-content: space-between;
}

.description .left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.description .left-panel img, .right-panel img {
    width: 100%;
    height: auto;
}

/* Media Query for screen width less than 1000px */
@media (max-width: 1000px) {
    .description {
        flex-direction: column; /* Stack the panels vertically */
        padding: 2rem; /* Adjust padding for smaller screens */
    }

    .description .left-panel, .description .right-panel {
        width: 100%; /* Make each panel take full width */
        min-width: 0; /* Remove min-width to allow for responsive resizing */
    }

}
