.review {
    position: relative;
    width: 100%;
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top:  10px;
  }
  
  .review .slider {
    display: flex;
    scroll-snap-type: x mandatory; /* Enable snapping for smooth UX */
    overflow-x: auto;
    width: 100%;
    height: 100%;
    gap: 0; /* No gaps between slides */
    object-fit: cover;
    scrollbar-width: none; 
  }
  
  .review .slide {
    position: relative; /* ทำให้สามารถใช้ position absolute ในลูกได้ */
    flex: 0 0 25%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.review .slide img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.review .slide::after {
    content: ''; /* สร้าง pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    pointer-events: none; /* ป้องกันไม่ให้คลิกที่เลเยอร์นี้ */
}
  
.review .slide p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white; /* ปรับสีข้อความ */
    font-size: 18px; /* ปรับขนาดตัวอักษร */
    padding: 10px;
    text-align: center;
    z-index: 2;
}

  
  .review .slider-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .slider-nav button {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 100%;
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .slider-nav button:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 1400px) {
    .review .slide {
     
      flex: 0 0 50%;
      
    }
    
  }
  @media screen and (max-width: 1000px) {
    .review .slide {
     
      flex: 0 0 100%;
      
    }
    
  }