.review {
    position: relative;
    width: 100%;
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .review .slider {
    display: flex;
    scroll-snap-type: x mandatory; /* Enable snapping for smooth UX */
    overflow-x: auto;
    width: 100%;
    height: 100%;
    gap: 0; /* No gaps between slides */
    object-fit: cover;
    scrollbar-width: none; 
  }
  
  .review .slide {
    position: relative;
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure content doesn't overflow */
    z-index: 2;

}
.review .slide:hover {
  transform: scale(1);
}

.review .slide img,
.review .slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease; 
    position: absolute;
    top: 0;
    left: 0;
}
.review .slide video{
  opacity: 0;
}
.review .slide:hover video{
  opacity: 1;
  

}



.review .slide::after {
    content: ''; /* สร้าง pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
    pointer-events: none; /* ป้องกันไม่ให้คลิกที่เลเยอร์นี้ */
}
  
.review .review-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white; /* ปรับสีข้อความ */
    font-size: 18px; /* ปรับขนาดตัวอักษร */
    padding: 10px;
    text-align: center;
    z-index: 2;
}


  #left-prevSlide-button, #right-nextSlide-button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 100%;
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;
    z-index: 2;
  }
  #left-prevSlide-button{
    left: 0;
  }
  #right-nextSlide-button{
    right: 0;
  }
  
  .review .slider-nav button:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 1400px) {
    .review .slide video{
      opacity: 1;
    }
    .review .slide {
     
      flex: 0 0 50%;
      
    }
    
  }
  @media screen and (max-width: 1000px) {
    .review .slide {
     
      flex: 0 0 100%;
      
    }
    
  }