.review {
    position: relative;
    width: 100%;
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .review .slider {
    display: flex;
    scroll-snap-type: x mandatory; /* Enable snapping for smooth UX */
    overflow-x: auto;
    width: 100%;
    height: 100%;
    gap: 0; /* No gaps between slides */
    object-fit: cover;
    scrollbar-width: none; /* Firefox */
  }
  
  .review .slide {
    flex: 0 0 100%; /* Each slide takes full width of the slider */
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center; /* Snap to the center of the viewport */
    width: 100%;
    height: 100%;
  }
  
  .review .slide img {
    width: 600px;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering the area */
  }
  
  .review .slider-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .slider-nav button {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 2rem;
    height: 100%;
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .slider-nav button:hover {
    transform: scale(1.1);
  }
  