.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(22, 22, 22, 0.5);
    
    border-bottom: rgb(161, 161, 161, 0.2) 2px solid;
    width: 100vw;
    z-index: 10000000;
}   

.navbar ul {
    width: 88%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

}

.navbar li {
    display: flex;
    align-items: center;

}


.navbar img{
    width: 2rem;
    height: auto;
}

.nav-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.nav-link{
    display: flex;
    padding: 0 1rem;
    width: 20%;
    align-items: end;
    justify-content: space-between;

}

.navbar a, .hamburger-button {

    color: #FAF9F6;
    font-size: 1rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    transition: 0.2s;
}
.nav-wrapper a:hover{

    color: #00bfff;
}

.nav-link a:hover{
    transform: scale(1.1);
    
}

.nav-icon {
    font-size: 1rem;
}

.hamburger-checkbox {
    display: none;
}

.hamburger-button {
    cursor: pointer;
    z-index: 8;
    font-size: 1.6rem;
    font-weight: 100;
}

/* Styles for the dropdown menu */
.dropdown-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    color: white;
    display: flex;
    flex-direction: column;
    transition: top 0.4s ease, opacity 0.2s ease;
    padding: 2.5rem 2rem;
    overflow-y: scroll;
    text-align: left;
    z-index: 2;
    opacity: 0;
    
    
}
/* Styles for individual dropdown items */
.dropdown-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: 0.8s;
    opacity: 0;
    
    hr{
        opacity: 0.2;
        width: 100%;
    }

    h1 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }

    h2 {
        font-size: 1rem;
        font-weight: 400; /* Slightly increased weight for better readability */
        margin: 0;
    
    }
    
}

/* Styles for the course name container */
.course-list {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 2rem;
    height: auto;
    flex-direction: column;
 
    
    
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    color: #00bfff; /* Bright blue for hover state */
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Optional: Add animation for dropdown items when menu becomes visible */

.dropdown-menu.active .dropdown-item {
    opacity: 1;
    transform: translateY(0);
}


/* Show dropdown menu when checkbox is checked */
.hamburger-checkbox:checked ~ .dropdown-menu {
    top: 0px;
    opacity: 0.98;
    backdrop-filter: blur(20px);
}

.hamburger-checkbox:checked ~ .dropdown-menu .dropdown-item {
    opacity: 1;
}
@media screen and (max-width: 1000px) {
    
    .nav-wrapper {
        display: flex;
       
gap: 0;
        width: 68%;
    }
    .nav-link{
        display: flex;
        width: 100%;
        max-width: 200px;
        justify-content: space-between;
    
    }
    

}