.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 1); /* Transparent background */
    width: 100%;
    z-index: 10;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    padding: 10px 0 5px 0;
}

.navbar.scrolled {
    background-color: var(--navy); /* Solid background when scrolled */
}

.navbar ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

}

.navbar li {
    display: flex;
    align-items: center;

}


.navbar img{
    width: 2rem;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.navbar a, .hamburger-button {
    margin: 0 15px;
    color: #FAF9F6;
    font-size: 1rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    transition: 0.2s;
}
.navbar li a:hover{
    transform: scale(1.1);
    color: #00bfff;
}
.nav img{
    width: 100px;
}

.nav-icon {
    font-size: 1.2rem;
}

.hamburger-checkbox {
    display: none;
}

.hamburger-button {
    cursor: pointer;
    z-index: 8;
    font-size: 1.5rem;
}

/* Styles for the dropdown menu */
.dropdown-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--navy);
    color: white;
    display: flex;
    flex-direction: column;
    transition: top 0.8s ease, opacity 0.8s ease;
    opacity: 0;
    padding: 2rem 1rem;
    overflow-y: scroll;
    z-index: 2;
    
}

/* Styles for individual dropdown items */
.dropdown-item {
    
    padding: 0.4rem;
    text-decoration: none;

    transition: top 0.8s ease, opacity 0.8s ease;
    
    line-height: 1.5; /* Adjusted for better readability */

    /* Headings inside dropdown items */
    h1 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }

    h2 {
        font-size: 1rem;
        font-weight: 400; /* Slightly increased weight for better readability */
        margin: 0;
    
    }
}

/* Styles for the course name container */
.course-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: left;

    /* Styles for the course image */
    img {
        width: auto;
        height: 50px;
        border-radius: 12px; /* Rounded corners for better aesthetics */
        margin-right: 20px;
    }
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    color: #00bfff; /* Bright blue for hover state */
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Optional: Add animation for dropdown items when menu becomes visible */
.dropdown-menu.active .dropdown-item {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


/* Show dropdown menu when checkbox is checked */
.hamburger-checkbox:checked ~ .dropdown-menu {
    top: 0px;
    opacity: 0.98;
    backdrop-filter: blur(20px);
}

.hamburger-checkbox:checked ~ .dropdown-menu .dropdown-item {
    opacity: 1;
}
/* Responsive design */
@media screen and (max-width: 1000px) {
    .nav-wrapper {
        gap: 10px;
    }

    .navbar a {
        margin: 10px 0;
    }
}
@media screen and (max-width: 560px) {
    .dropdown-item{
        h2{
            display: none;
        }
        
    }
}
