html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.sliderComponent {
  position: relative;
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--off-white);
}

.sliderComponent .slider {
  display: flex;
  scroll-snap-type: x mandatory; /* Enable snapping for smooth UX */
  overflow-x: auto;
  width: 100%;
  height: 60vh;
  gap: 0; /* No gaps between slides */
  object-fit: cover;
  scrollbar-width: none;
}

.sliderComponent .slide {
  height: auto;
  position: relative;
  flex: 0 0 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}
.sliderComponent .slide:hover {
  transform: scale(1);
}


.sliderComponent .slide img,
.sliderComponent .slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}
.sliderComponent .slide video {
  opacity: 0;
}
.sliderComponent .slide:hover video {
  opacity: 1;
}
.sliderComponent .slide:hover .sliderOverlay {
  .description {
    opacity: 1;
  }
}
.sliderComponent .slide:hover .play {
  opacity: 0;
  display: none;

}

.sliderComponent .slide::after {
  content: ""; /* Create pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  pointer-events: none; /* Prevent clicks on this layer */
}

.sliderOverlay, .play {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: white;
  transition: 0.5s;
  padding: 10px;
  text-align: center;
  z-index: 2;
  h1 {
    font-size: 48px;
    line-height: 1.3;
    font-weight: 600;
  }
  p {
    font-size: 24px;
    line-height: 1;
    font-weight: 200;
    letter-spacing: -0.02em;
  }
  .description {
    display: none;
    height: 0;
    opacity: 0;
    transition: 0.2s;
    padding: 1rem;
    text-align: left;
    color: white;
    background-color: transparent;
  }
}
.play {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
    bottom: 40%;
    opacity: 1;
    transition: 0.8s;
}

#left-prevSlide-button,
#right-nextSlide-button {
  position: absolute;
  color: white;
  border: none;
  cursor: pointer;
  width: 10vw;
  height: 60vh;
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
  z-index: 2;
}
#left-prevSlide-button {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}
#right-nextSlide-button {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

@media screen and (max-width: 1400px) {
  .sliderComponent {
    height: 50vw;
  }
  .sliderComponent .slide video {
    opacity: 0;
  }

  .sliderComponent .slide {
    flex: 0 0 50%;
  }
  #left-prevSlide-button,
  #right-nextSlide-button {
    width: 20vw;
  }
}

@media screen and (max-width: 1000px) {
  .sliderComponent {
    height: 100vw;
  }
  .sliderComponent .slide {
    flex: 0 0 100%;
  }
}
