@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

:root {
  --navy :#16325B;
  --blue : #3894ff;
  --yellow :#ffdc50;
  --off-white : #fffcf1;
  --red : #dc4a44;
  --gray : #323232;
  --light-gray: #646464;
  --blue-transparent : rgba(127, 127, 127, 0.5);
  font-size: clamp(1.5rem, 2vw, 3rem);
}
p {
  font-size: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit';
}

.app {
  justify-content: center;
  align-items: center;
  background-color: var(--off-white);
  scroll-snap-type: y mandatory;
}
.flex{
  display: flex;
}
.blue{
  color: var(--blue);
}
.red{
  color: var(--red);
}
.navy{
  color: var(--navy);
}
.off-white{
  color: var(--off-white);
}
.gray{
  color: var(--gray);
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);  
  }
}