.work {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
}

.work video {
    object-fit: cover;
    width: 50vw;
    height: 100%;
}

.work-text {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    text-align: right;
    margin: 20px;
}

.work-text a {
    border: 2px solid var(--navy);
    background-color: transparent;
    color: var(--navy);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: auto;
    font-size: 20px;
    font-weight: 800;
    transition: transform 0.5s;
    margin: 40px 0;
}

.work-text a:hover {
    transform: scale(1.05);
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .work {
        flex-direction: column;
        align-items: center;
    }

    .work-text {
        width: 80vw;
        text-align: center;
        align-items: center;
    }

    .work video {
        width: 80vw;
        height: auto;
    }

    .work-text a {
        font-size: 18px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .work-text a {
        font-size: 16px;
        padding: 10px;
    }
}
